@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --principal: #f3f3f3;
  --bg-color: #1c1c1c;
  --notes: #c0c0c0;
  --highlighted-text: #ec2f46;
  --button: #167bf7;

  --principal-font: "Roboto", serif;
}

body {
  background-color: var(--bg-color);
}
