@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0d0d0d;
  max-width: 1100px;
  margin: auto;
  font-family: "Ubuntu", serif;
  color: #f6f6f6;
  padding: 20px;
}

main {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

section {
  flex: 1;
}

h1 {
  font-size: 32px;
  line-height: 36px;
}

strong {
  color: #f29f05;
}

.highlight-title {
  color: #f28705;
}

.highlight-gradient {
  background-image: linear-gradient(to right, #bf2604, #f28705);
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

p {
  font-size: 16px;
  padding: 16px;
}

.call-to-action {
  font-weight: bold;
  font-style: italic;
}

a {
  color: #f28705;
  font-weight: bold;
}

div {
  display: flex;
  gap: 16px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 48px;
}

h3 {
  font-size: 18px;
}

button {
  background-color: transparent;
  width: 150px;
  color: #f6f6f6;
  border-radius: 16px;
  font-weight: 600;
  padding: 16px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #f28705;
  border-radius: 16px;
  padding: 16px;
}

svg {
  width: 16px;
  height: 16px;
}

.icon {
  fill: #f28705;
}

img {
  border-radius: 48px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
}
